.App {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
}

.App__buttons {
  height: 2rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App__button {
  height: 100%;
  width: fit-content;
  padding: 0 1rem;
}

label.App__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 2px solid #888;
  border-radius: 5px;
}

label.App__button:hover {
  background-color: #ddd;
}

label.App__button:active {
  background-color: #ccc;
}

input[type=file] {
  display: none;
}

.App__state {
  width: 55ch;
  height: fit-content;
  text-align: center;
}